@model IEnumerable<InterWorldCSharp.Models.CidadeModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
 <section class="pl-n-5">
        <div class="container">
          <div class="row d-flex containerslider">
            <div
              class="col-lg-4 col-md-6 align-self-center mb-md-0 mb-4 textslider"
            >
              <h1>
                teste <br /> test
              </h1>
              <h4 class="mb-4 mt-3 text-xs-center">
                blablabla <br /> blablabla
              </h4>
              <div class="divbuttons">
                <a
                    href=""
                  class= "button btn btn-primary button-primary d-md-inline-block d-block mb-md-0 mb-2 mr-md-2 buttons button1"
                >
                 
                </a>
                
            </div>
            <div class="col-lg-8 col-md-4 text-centerdivimg">
              <img src="" class= "img-fluidimg" />
            </div>
          </div>
        </div>
        </section>

       @foreach (var item in Model){
        <section>
        <div class= "container row">
          <div class="col-md-4 col-sm-2 mt-5 paisdiv" >
            <h3>@item.pais</h3>
          </div>
        </div>
      </section>
      <section>
        <div class= "divcard row">
          <div class= "card rounded-5 d-flex" style= "background-image:url('/img/@item.img1')">
            <div class="cardp"> 
              <p class= "cardpmargin text-center text-uppercase">@item.nome</p>
              <p class="cardtext">@item.cidade1</p>
              <a href="/orcamentos" class="button btn btn-primary button-primary d-md-inline-block d-block button1">Pedir orçamento</a>
            </div>
          </div>
          <div class= "card rounded-5 d-flex" style= "background-image: url('/img/@item.img2')">
            <div class="cardp">
              <p class= "cardpmargin text-center text-uppercase mt-1">@item.nome</p>
              <p class="cardtext">@item.cidade1</p>
              <a href="/orcamentos" class="button btn btn-primary button-primary d-md-inline-block d-block button1">{dictionary?.Budget}</a>
            </div>
          </div>
          <div class= "card card2 rounded-5 d-flex" style= "background-image: url('/img/@item.img3')">
            <div class="cardp">
              <p class= "cardpmargin text-center text-uppercase mt-2">@item.nome</p>
              <p class="cardtext">@item.cidade1 </p>
              <a href="/orcamentos" class="button btn btn-primary button-primary d-md-inline-block d-block button1" >{dictionary?.Budget}</a>
            </div>
          </div>
          <div class= "card card2 rounded-5 d-flex" style= "background-image: url('/img/@item.img4')">
            <div class="cardp">
              <p class= "cardpmargin text-center text-uppercase mt-l">@item.nome</p>
              <p class="cardtext">@item.cidade1</p>
              <a href="/orcamentos" class="button btn btn-primary button-primary d-md-inline-block d-block button1">{dictionary?.Budget}</a>
            </div>
          </div>
        </div>
        </section>
     }








           @foreach (var item in Model){
             <div>
                @item.nome<br>
                @item.cidade1<br>
                @item.pais<br>
                <img src="/img/@item.img1"/>
            </div>
           }
       

@section CSS{
     <link rel="stylesheet" href="~/css/Destinations.css" asp-append-version="true" />
}
